.Game {
  display: flex;
  padding: 16px;
}

.Game .left-sidebar,
.Game .right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.Game .left-sidebar {
  margin-right: 16px;
}

.Game .right-sidebar {
  margin-left: 16px;
}

.Game .next-tetromino,
.Game .hold {
  background-color: black;
  grid-template-columns: repeat(6, 16.67%);
  align-self: flex-start;
  width: 152px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  justify-content: space-evenly;
}

.Game .next-tetromino {
  height: 480px;
}

.Game .hold {
  height: 92px;
}

.Game .next-tetromino .shape,
.Game .hold .shape {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game .next-tetromino .shape .row,
.Game .hold .shape .row {
  display: flex;
}

.Game .next-tetromino .Cell,
.Game .hold .Cell {
  width: 30px;
  height: 30px;
  font-size: 11px;
}

.Game .stats {
  align-self: flex-start;
}

.Game .stats p {
  line-height: 22px;
}
