.Game {
  display: flex;
}

.Game .right-sidebar {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.Game .next-tetromino {
  background-color: black;
  grid-template-columns: repeat(6, 16.67%);
  align-self: flex-start;
  width: 160px;
  height: 480px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: space-evenly;
  padding: 16px;
}

.Game .next-tetromino .shape {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game .next-tetromino .shape .row {
  display: flex;
}

.Game .next-tetromino .Cell {
  width: 30px;
  height: 30px;
  font-size: 11px;
}
